.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  background-image: var(--repeating-linear-gradient);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  padding: 100px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-variation-settings: "wght" var(--thin-font-weight, 410);
}

.header {
  height: clamp(327px, 50vw, 369px);
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  margin-bottom: 98px;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.header-title {
  font-family: var(--secondary-font-family), monospace;
  font-weight: 400;
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  line-height: 100%;
  letter-spacing: 0;
  text-transform: uppercase;
}

.header-subtitle {
  font-family: var(--secondary-font-family), monospace;
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  line-height: 100%;
  letter-spacing: 0;
  text-transform: uppercase;
}

.card {
  background-color: #fff;
}

.card-title {
  font-family: var(--primary-font-family), sans-serif;
  font-variation-settings: "wght" var(--fat-font-weight, 715);
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0;
  padding: 6px 10px;
}

.card-image__wrapper {
  border-top: 2px solid var(--border-color, #000);
  border-bottom: 2px solid var(--border-color, #000);
  position: relative;
  height: clamp(373px, 50vw, 699px);
}

.card-label {
  position: absolute;
  top: 24px;
  right: 26px;
  font-family: var(--secondary-font-family), monospace;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0;
  text-transform: uppercase;
  mix-blend-mode: hard-light;
  text-shadow:
          -1px 0 var(--text-shadow-color, #ffffff87),
          0 1px var(--text-shadow-color, #ffffff87),
          1px 0 var(--text-shadow-color, #ffffff87),
          0 -1px var(--text-shadow-color, #ffffff87);
}

.card__body {
  padding: 25px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 25px;
}

.card-description {
  font-family: var(--primary-font-family), sans-serif;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0;
}

.card__actions {
  display: flex;
  gap: 6px;
  justify-self: end;
}

.card__icon-button {
  outline: 0;
  border: 0;
  transition: outline 0.3s ease;
}

.card__icon-button:focus {
  outline: 2px solid var(--border-color, #000);
}

.card__icon-button:focus-visible {
  outline: 2px solid var(--border-color, #000);
}

.button {
  position: relative;
  overflow: hidden;
  border: 2px solid var(--border-color, #000);
  transition: box-shadow 0.3s ease, background-color 0.5s ease-in-out;
  height: fit-content;
  padding: 8px 7px;
  width: 100%;
  min-width: 130px;
  background-color: #fff;
}

.button::after {
  content: "";
  height: 100%;
  width: 100%;
  inset: 0;
  position: absolute;
  background-color: var(--button-accent-color, #000);
  z-index: 1;
  transform: translateX(-100%);
  transition: transform 0.5s ease-in-out;
}

.button:hover::after {
  transform: translateX(0);
}

.button:hover .button__text {
  mix-blend-mode: difference;
  transition: 0.1s step-start;
  color: #fff;
}

.button:focus {
  outline: none;
  box-shadow: 2px 2px 0 var(--border-color, #000);
}

.button:focus-visible {
  outline: none;
  box-shadow: 2px 2px 0 var(--border-color, #000);
}

.button__text {
  font-family: var(--secondary-font-family), monospace;
  font-size: 14px;
  line-height: 90%;
  letter-spacing: 0;
  margin: auto;
  color: var(--button-accent-color, #000);
  position: relative;
  top: 2px;
  z-index: 2;
  transition: color 0.6s linear;
}

.button__icon {
  block-size: 21px;
  inline-size: 21px;
  position: relative;
  z-index: 2;
  transition: 0.5s ease-in-out;
}

.button:hover .button__icon {
  mix-blend-mode: difference;
  transition: 0.5s step-start;
  color: #fff;
}

.dialog {
  padding: 30px;
  border: 2px solid var(--border-color, #000);
  width: clamp(341px, 50vh, 353px);
  display: flex;
  flex-direction: column;
  gap: 30px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.dialog[open] {
  opacity: 1;
}

.dialog__button {
  width: clamp(306px, 50vw, 335px);
  margin-top: 50px;
  display: flex;
  gap: 6px;
  align-items: center;
  padding: 13px 19px;
}

.dialog__button .button__text {
  margin: 0;
}

.dialog__content {
  display: flex;
  gap: 20px;
  align-items: center;
}

.dialog__icon {
  block-size: 39px;
  inline-size: 39px;
}

.dialog__text {
  font-family: var(--secondary-font-family), monospace;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0;
  text-transform: uppercase;
}

.dialog::backdrop {
  background-color: rgb(var(--dialog-background-color, 0 0 0));
  transition: background-color 0.3s ease-in-out;
}

.dialog[open]::backdrop {
  background-color: rgb(var(--dialog-background-color, 0 0 0) / 0.78);
}

.open-dialog__button {
  width: clamp(306px, 50vh, 335px);
  margin-top: clamp(50px, 50vh, 52px);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.open-dialog__button span {
  margin: 0;
}

.dialog-button {
  border: 2px solid;
  padding: 10px 5px;
}

.brightness-filter {
  filter: brightness(90%) sepia(0.7);
}

.sepia-filter {
  filter: sepia(1.8);
}

.saturate-filter {
  filter: saturate(320%);
}

.hue-rotate-filter {
  filter: hue-rotate(25deg);
}

.invert-filter {
  filter: invert(80%);
}

.blur-filter {
  filter: blur(15px);
}

.retro-filter {
  filter: sepia(90%) hue-rotate(340deg);
}

.like-icon {
  cursor: pointer;
}

.heart {
  transform-origin: center;
}

.main-body {
  transition: fill 0.3s linear;
}

.core {
  transition: fill 0.3s linear;
  transition-delay: 0.03s;
}

.contour {
  transition: fill 0.1s linear;
}

.sparks {
  fill: transparent;
}

.like-icon:hover .main-body {
  fill: var(--body-fill-color, black);
  transition-delay: 0.05s;
}

.like-icon:hover .core {
  fill: var(--core-fill-color, black);
  transition-delay: 0s;
}

.like-icon:has(:active) .main-body {
  fill: var(--active-body-fill-color, red);
  transition-delay: 0.05s;
}

.like-icon:has(:active) .core {
  fill: var(--active-core-fill-color, red);
  transition-delay: 0s;
}

.like-icon.is-liked .main-body {
  fill: var(--liked-body-fill-color, red);
  transition-delay: 0.05s;
}

.like-icon.is-liked .core {
  fill: var(--liked-core-fill-color, red);
}

.like-icon.is-liked .contour {
  fill: var(--liked-contour-fill-color, red);
  transition-delay: 0.06s;
}

.like-icon.is-liked .heart {
  animation: heart-bounce 0.3s normal ease-in 0.1s;
}

.like-icon.is-liked .sparks {
  animation: blink 0.3s normal ease-in 0.3s;
}

@supports((text-stroke: 1px var(--text-shadow-color, #ffffff87)) or (-webkit-text-stroke: 1px var(--text-shadow-color, #ffffff87))) {
  .card-label {
    -webkit-text-stroke: 1px var(--text-shadow-color, #ffffff87);
    text-stroke: 1px var(--text-shadow-color, #ffffff87);
    text-shadow: none;
  }
}

@media (width <= 376px) {
  .header {
    margin-bottom: 100px;
  }

  .card-title {
    line-height: 21px;
  }

  .card__body {
    padding-right: 26px;
    padding-bottom: 23px;
  }

  .dialog__button {
    flex-direction: column;
    padding: 12px 18px;
  }

  .button__icon {
    block-size: 32px;
    inline-size: 28px;
  }
}
