.general-card-styles {
  width: var(--computed-width-block, clamp(375px, 50vw, 700px));
  margin: 0 auto;
  border: 2px solid var(--border-color);
}

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  background-image: var(--repeating-linear-gradient);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  padding: 100px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-variation-settings: "wght" var(--thin-font-weight, 410);
}

.header {
  padding: 129px 16px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
  background-color: var(--accent-color, #fff);
  margin-block-end: 98px;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.header-title {
  font-family: var(--secondary-font-family), monospace;
  font-weight: 400;
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  line-height: 100%;
  letter-spacing: 0;
  text-transform: uppercase;
}

.header-subtitle {
  font-family: var(--secondary-font-family), monospace;
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  line-height: 100%;
  letter-spacing: 0;
  text-transform: uppercase;
}

.card {
  background-color: var(--accent-color, #fff);
}

.card-title {
  font-family: var(--primary-font-family), sans-serif;
  font-variation-settings: "wght" var(--fat-font-weight, 715);
  font-size: 18px;
  line-height: 122%;
  letter-spacing: 0;
  padding: 4px 10px;
}

.card-image__wrapper {
  border-block-start: 2px solid var(--border-color, #000);
  position: relative;
  max-block-size: clamp(371px, 100vw, 696px);
}

.card-image {
  display: block;
}

.card-label {
  position: absolute;
  top: 24px;
  right: 26px;
  z-index: 1;
  font-family: var(--secondary-font-family), monospace;
  font-size: 14px;
  line-height: 100%;
  opacity: 50%;
  letter-spacing: 0;
  text-transform: uppercase;
  mix-blend-mode: hard-light;
  text-shadow:
          -1px 0 var(--text-shadow-color, #fff),
          0 1px var(--text-shadow-color, #fff),
          1px 0 var(--text-shadow-color, #fff),
          0 -1px var(--text-shadow-color, #fff);
}

.card__body {
  padding: 25px;
  display: grid;
  grid-template-columns: 1fr;
  border-block-start: 2px solid var(--border-color, #000);
  gap: 25px;
}

.card-description {
  font-family: var(--primary-font-family), sans-serif;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0;
}

.card__actions {
  display: flex;
  gap: 6px;
  justify-self: end;
}

.card__icon-button {
  display: flex;
  margin: auto;
  justify-content: start;
  align-items: center;
  outline: none;
  inline-size: 40px;
  block-size: 40px;
  border: 2px solid transparent;
  transition: border 0.3s ease;
  cursor: pointer;
}

.card__icon-button:focus {
  outline: none;
  border: 2px solid transparent;
}

.card__icon-button:focus-visible {
  border: 2px solid var(--border-color, #000);
}

.button {
  position: relative;
  overflow: hidden;
  border: 2px solid var(--border-color, #000);
  transition: box-shadow 0.3s ease;
  height: fit-content;
  padding: 8px 7px;
  width: 100%;
  min-width: 130px;
  background-color: var(--accent-color, #fff);
  cursor: pointer;
}

.button::after {
  content: "";
  height: 100%;
  width: 100%;
  inset: 0;
  position: absolute;
  background-color: black;
  z-index: 1;
  transform: translateX(-100%);
  transition: transform 0.5s ease-in-out, background-color 0.5s ease-in-out;
}

.button:hover::after {
  transform: translateX(0);
}

.button:focus {
  outline: none;
  box-shadow: 2px 2px var(--border-color, black);
}

.button__text {
  font-family: var(--secondary-font-family), monospace;
  font-size: 14px;
  line-height: 90%;
  letter-spacing: 0;
  margin: auto;
  color: var(--accent-color, #fff);
  mix-blend-mode: difference;
  position: relative;
  top: 2px;
  z-index: 2;
}

.button__icon {
  block-size: 21px;
  inline-size: 21px;
  position: relative;
  z-index: 2;
  mix-blend-mode: difference;
  color: var(--accent-color, #fff);
}

.dialog[open] {
  padding: 30px;
  border: 2px solid var(--border-color, #000);
  width: clamp(341px, 50vh, 353px);
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.dialog[open]::backdrop {
  background-color: rgb(var(--dialog-background-color, 0 0 0) / 0.75);
}

.dialog .button__text {
  text-transform: uppercase;
}

.dialog__button {
  max-width: 335px;
  width: 100%;
  margin-top: 50px;
  display: flex;
  gap: 8px;
  align-items: center;
  padding: 14px 17px;
}

.dialog__button .button__text {
  margin: 0;
  top: 0;
}

.dialog__content {
  display: flex;
  gap: 20px;
  align-items: center;
}

.dialog__icon {
  block-size: 39px;
  inline-size: 39px;
}

.dialog__text {
  font-family: var(--secondary-font-family), monospace;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0;
  text-transform: uppercase;
}

.dialog-button {
  border: 2px solid;
  padding: 10px 5px;
}

.brightness-filter {
  filter: brightness(90%) sepia(0.7);
}

.sepia-filter {
  filter: sepia(1.8);
}

.saturate-filter {
  filter: saturate(320%);
}

.hue-rotate-filter {
  filter: hue-rotate(25deg);
}

.invert-filter {
  filter: invert(80%);
}

.blur-filter {
  filter: blur(15px);
}

.retro-filter {
  filter: sepia(90%) hue-rotate(340deg);
}

.like-icon {
  overflow: visible;
  margin: auto;
  transform: translate(-2px, 0);
}

.heart {
  transform-origin: center;
}

.main-body {
  fill: transparent;
  transition: fill 0.3s linear;
}

.core {
  fill: transparent;
  transition: fill 0.3s linear;
  transition-delay: 0.03s;
}

.contour {
  transition: fill 0.1s linear;
}

.sparks {
  fill: transparent;
}

.like-icon:hover .main-body {
  fill: var(--body-fill-color, black);
  transition: fill 0.3s 0.05s linear;
}

.like-icon:hover .core {
  fill: var(--core-fill-color, black);
  transition: fill 0.3s linear;
}

.like-icon:has(:active) .main-body {
  fill: var(--active-body-fill-color, red);
  transition: fill 0.3s 0.05s linear;
}

.like-icon:has(:active) .core {
  fill: var(--active-core-fill-color, red);
  transition: fill 0.3s linear;
}

.like-icon.is-liked .main-body {
  fill: var(--liked-body-fill-color, red);
  transition: fill 0.3s 0.05s linear;
}

.like-icon.is-liked .core {
  fill: var(--liked-core-fill-color, red);
  transition: fill 0.3s linear;
}

.like-icon.is-liked .contour {
  fill: var(--liked-contour-fill-color, red);
  transition: fill 0.3s 0.06s linear;
}

.like-icon.is-liked .heart {
  animation: heart-bounce 0.3s normal ease-in 0.1s;
}

.like-icon.is-liked .sparks {
  animation: blink 0.3s normal ease-in 0.3s;
}

@supports((text-stroke: 1px var(--text-shadow-color, #fff)) or (-webkit-text-stroke: 1px var(--text-shadow-color, #fff))) {
  .card-label {
    -webkit-text-stroke: 1px var(--text-shadow-color, #fff);
    text-stroke: 1px var(--text-shadow-color, #fff);
    text-shadow: none;
  }
}

@media (width <= 376px) {
  .header {
    padding: 120px 16px;
    margin-bottom: 100px;
  }

  .card__body {
    padding-right: 26px;
    padding-bottom: 23px;
    padding-top: 23px;
  }

  .dialog__button {
    max-width: 306px;
    flex-direction: column;
  }

  .button__icon {
    block-size: 32px;
    inline-size: 28px;
  }
}
