/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  background-image: var(--repeating-linear-gradient);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  padding: 100px 0;
}

.header {
  height: clamp(327px, 50vh, 368px);
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  margin-bottom: 98px;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.header-title {
  font-family: var(--secondary-font-family), monospace;
  font-weight: 400;
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  line-height: 100%;
  letter-spacing: 0;
  text-transform: uppercase;
}

.header-subtitle {
  font-family: var(--secondary-font-family), monospace;
  font-weight: 400;
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  line-height: 100%;
  letter-spacing: 0;
  text-transform: uppercase;
}

.card {
  background-color: #fff;
}

.card-title {
  font-family: var(--primary-font-family), sans-serif;
  font-weight: 715;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0;
  padding: 4px 10px;
}

.card-image__wrapper {
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
  position: relative;
  height: clamp(371px, 100vw - 4px, 696px);
}

.card-label {
  position: absolute;
  top: 25px;
  right: 25px;
  font-family: var(--secondary-font-family), monospace;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0;
  text-transform: uppercase;
  mix-blend-mode: hard-light;
  text-shadow:
          -1px 0 #ffffff87,
          0 1px #ffffff87,
          1px 0 #ffffff87,
          0 -1px #ffffff87;
}

.card__body {
  padding: 25px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 25px;
}

.card-description {
  font-family: var(--primary-font-family), sans-serif;
  font-weight: 410;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0;
}

.card__actions {
  display: flex;
  gap: 12px;
  justify-self: end;
}

.card__like-button {
  border: 2px solid #000;
  height: fit-content;
  padding: 7px;
  width: 100%;
  min-width: 130px;
}

.button__text {
  font-family: var(--secondary-font-family), monospace;
  font-weight: 400;
  font-size: 14px;
  line-height: 90%;
  letter-spacing: 0;
  margin: auto;
}
